*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
      width: 90%; 
     margin: 10px auto;     
}
nav{
    position: sticky;
    top: 0;
}


.lll {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.list1 {
    display: flex;
  /* float: left; */
  justify-content: flex-end;
  align-items: end;
  margin-left: 20px;
  /* width: 90%; */
}

ul li a {
  display: block;
  color: white;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
.home{
    /* margin: 100px 200px; */
    align-items: center;
    justify-content: center;
    /* padding: 80px; */
    width: 90%;
    margin: 150px 400px 150px 650px;

}
.Admissionn{
    width: 90%;
    background-color: red;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}
.sec1{
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    /* margin: 20px auto; */
}
.sec1 h1{
    font-size: 40px;
    color: #111111;
}
.sec1 span{
    color: green;
}
.imagee{
    width: 80%;
    margin: 20px auto;
}
.reck{
    width: 450px;
    padding: 40px;
    /* width: 50%; */
}
.sec2{
    width: 80%;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    margin: 20px auto;
}
.sec2 p{
    width: 30rem;
    line-height: 25px;
}
.sec2 h3{
    padding: 20px;

}
.sec2 a{
    color: red;
}
.reck-statement{
    padding: 60px;
}
.fa-solid{
    margin: 20px 80px ;
}

.sub-sec3{
    width: 230px;
    border: 2px solid blue;
    /* padding: 10px;  */
    margin: 10px auto;
}
.sub-sec3 h5{
    width: 11rem;
    font-size: 16px;
    justify-content: center;
    align-content: center;
    margin-left: 17px;
    /* margin: 10px auto; */
    /* border: 2px solid red; */
}
.sub-sec3 h4{
    width: 17rem;   
    font-size: 20px;
    margin-left: 15px;
    /* margin: 10px auto; */
}
.sec3{
    display: flex;
    padding: 20px;
    width: 80%;
    margin: 10px auto;
}
.notice h1{
    color: green;
    margin-left: 170px;
    font-weight: bold;
}
.notice p{
    margin-left: 170px;
    font-size: 20px;
}
.sec4{
    width: 75%;
    /* justify-content: center; */
    margin: 10px  auto;
    height: 600px;
    padding: 0;
}
.tabless{
    display: flex;
    /* width: 500px; */
    padding: 5px;
    height: 66.6px;
    gap: 370px;
    justify-content: center;                      
    color: grey;
    border: 2px solid grey;
}
.tabless1{
    display: flex;
    padding: 5px;
    height: 66.6px;
    gap: 370px;
    justify-content: center;
    background-color: green;                        
    color: white;
}
.tabless h6{
    width: 80px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section6{
    height: 500px;
    width: 75%;
    border: 2px solid red;
    margin: 100px auto;

}
.sec5{
    width: 80%;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
    background-color: rgb(252, 252, 252);
}
.sign{
    padding: 10px;
    margin-left: 160px;
}
.sec5 h1{
    color: green;
    font-weight: bold;
    margin-left: 15px;
    padding: 30px;
}
.sec5 p{
    width: 45rem;
    justify-content: center;
    align-content: center;
    margin: 20px auto;
    align-items: center;
}
.national{
    width: 30%;
    border: 2px solid grey;
    padding: 20px;
    border-radius: 20px;
}
.national ul{
    line-height: 30px;
    margin-left: 20px;
    margin-top: 30px;
}
.national h4{
    color: red;
}
.national p{
    width: 18rem;
}
.program{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.sec6{
    width: 80%;
    display: block;
    justify-content: start;
    align-items: flex-start;
    margin-left: 150px;
    margin-top: 150px;
}
.sec6 h3{
    color: green;

}
.sec6 p{
    color: red;
    margin-bottom: 30px;
}
.apply{
    padding: 15px;
    background-color: green;
    color: white;
    margin-top: 20px;
    margin-left: 600px;
    margin-bottom: 5px;
}
.apply a{
    color: white;
}
.foot h3{
    width: 27rem;
    color: white;
    
}
.foot p{
    width: 18rem;
    color: rgb(139, 141, 148);
}
.foot1 p{
    width: 18rem;
    color: rgb(139, 141, 148);
}
.foot1 h6{
    color: white;
}
footer{
background-color: rgb(27, 29, 33);
}
.for{
    
    display: flex;
    padding: 50px;
    gap: 30px;
    
}
.foot{
    margin-left: 50px;
}
.foot2{
    color: white;
    margin-left: 100px;
    padding: 5px;
}
.llogo{
    width: 55px;
    padding: 5px;
}
.foot-img{
    width: 120px;
    height: 90px;
}
@media screen and (max-width :800px){
    .container{
        width: 99%;
        border: 5px solid red;
    }
    nav{
        width: 100%;
    }
    .home{
        margin: 10px 300px 10px;
    }
    .imagee{
        width: 90%;
    }
    .sec2{
        display: block;
    }
    .reck{
        width: 600px;
    }
    .reck-statement{
        padding: 20px;
    }
    .sec2 p{
        width: 40rem;
        line-height: 30px;
        font-size: larger;
    }
    .sec3{
        display: block;

    }
    .sec4{
        width: 90%;
    }
    .tabless{
        gap: 150px;
        padding: 1px;
    }
    .tabless1{
        gap: 150px;
        padding: 1px;
    }
    
}
